.Menu {
  margin: auto;
  margin-top: 20px;
  padding-bottom: 0px;
  max-width: 300vh;
  min-height: 65vh;
  background-image: url("https://st.depositphotos.com/1003593/3947/i/450/depositphotos_39479909-stock-photo-about-us-blue-marker.jpg");
  background-size: 100%;
}
.Menu__block {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.Menu__leftMenu {
  position: sticky;
  bottom: 0;
  top: 100%;
}
