.enterBloglist{
    margin: 80px auto;
    padding: 15px;
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.enterBloglist__btn{
    background-color: aquamarine;
}