.home {
  display: flex;
  width: 70%;
  min-height: 65vh;
  background-color: rgb(37, 49, 49);
  color: white;
  border: 2px solid black;
  border-radius: 25px;
  padding: 15px;
  flex-direction: column;
  margin: 20px auto;
  text-align: center;
  font: italic small-caps bold 16px/2 cursive;
}
